<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>backend</title>
    <link rel="stylesheet"  th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet"  th:href="@{/css/index.css}" />
    <link rel="stylesheet"  th:href="@{/css/zshop.css}" />
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/userSetting.js}"></script>
    <script th:src="@{/js/bootstrap-paginator.js}"></script>
    <script th:src="@{/layer/layer.js}"}></script>
    <script th:inline="javascript">
        //分页
        $(function(){
            $('#pagination').bootstrapPaginator({
                bootstrapMajorVersion:3,
                currentPage:[[${pageInfo.pageNum}]],
                totalPages:[[${pageInfo.pages}]],
                pageUrl:function(type,page, current){
                    return [[@{./list}]]+'?pageNum='+  page;
                },
                itemTexts: function (type, page, current) {
                    switch (type) {
                        case "first":
                            return "首页";
                        case "prev":
                            return "上一页";
                        case "next":
                            return "下一页";
                        case "last":
                            return "末页";
                        case "page":
                            return page;
                    }
                }
                });
        });
        //显示商品分类
        function showcategory(id){
            $.post(
                [[@{./findById}]],
                {'id':id},
                function(result) {
                    if (result.status == 1) {
                        $('#proTypeNum').val(result.data.cid);
                        $('#proTypeName').val(result.data.cname);
                    }
                }
            );
        }
        //修改商品类型的名称
        function modifyName(){
            $.ajax({
                type:'post',
                url:[[@{./edit}]],
                data:{'id': $('#proTypeNum').val(),'name':$('#proTypeName').val()},
                dataType:'json',
                success:function(result){
                    if(result.status==1){
                        layer.msg(result.message,{
                            time:2000,
                            skin:'success'
                        },function(){
                            //重新加载数据
                            location.href=[[@{./list}]]+'?pageNum='+[[${pageInfo.pageNum}]];
                        })
                    }else{
                        layer.msg(result.message,{
                            time:2000,
                            skin:'fail'
                        })
                    }
                }
            });
        }
        // 添加商品类型
        function addProductType(){
            $.post(
                [[@{./add}]],
                {'name':$('#productTypeName').val()},
                function(result){
                    if(result.status==1){
                        layer.msg(result.message,{
                            time:2000,
                            skin:'success'
                        },function(){
                            location.href=[[@{./list}]]+'?pageNum='+[[${pageInfo.pageNum}]];
                        });
                    }else{
                        layer.msg(result.message,{
                            time:2000,
                            skin:'errorMsg'
                        });
                    }
                }
            );
        }
        //显示确认删除的提示
        function showDeleteModal(id){
            $('#deleteProductTypeId').val(id);
            $('#deleteProductTypeModal').modal('show');
        }

        //删除商品类型
        function deleteProductType(){
            $.get(
                [[@{./remove}]],
                {'id':$('#deleteProductTypeId').val()},
                function(result){
                    if(result.status==1){
                        layer.msg('删除成功',{
                            time:2000,
                            skin:'success'
                        },function(){
                            //重新加载数据
                            location.href=[[@{./list}]]+'?pageNum='+[[${pageInfo.pageNum}]];
                        })
                    }else{
                        layer.msg('删除失败',{
                            time:2000,
                            skin:'errors'
                        })
                    }
                }
            );
        }
    </script>
</head>

<body>
    <div class="panel panel-info" id="userSet">
        <div class="panel-heading">
            <h3 class="panel-title">商品类型管理</h3>
        </div>
        <div class="panel-body">
            <input type="button" value="添加商品类型" class="btn btn-primary" id="doAddProTpye">
            <br>
            <br>
            <div class="show-list">
                <table class="table table-bordered table-hover" style='text-align: center;'>
                    <thead>
                        <tr class="text-danger">
                            <th class="text-center">编号</th>
                            <th class="text-center">类型名称</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                        <tr th:each="category:${pageInfo.list}">
                            <td th:text="${category.cid}"></td>
                            <td th:text="${category.cname}"></td>
                            <td class="text-center">
                                <input type="button" class="btn btn-warning btn-sm doProTypeModify" value="修改" th:onclick="showcategory([[${category.cid}]])">
                                <input type="button" class="btn btn-warning btn-sm doProTypeDelete" th:onclick="showDeleteModal([[${category.cid}]])" value="删除">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 分页-->
                <div style="text-align: center" ><ul id="pagination"></ul></div>
            </div>
        </div>
    </div>

    <!-- 添加商品类型 start -->
    <div class="modal fade" tabindex="-1" id="ProductType">
        <!-- 窗口声明 -->
        <div class="modal-dialog modal-lg">
            <!-- 内容声明 -->
            <div class="modal-content">
                <!-- 头部、主体、脚注 -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">添加商品分类</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="row text-right">
                        <label for="productTypeName" class="col-sm-4 control-label">分类名称：</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="productTypeName">
                        </div>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary addProductType" onclick="addProductType()">添加</button>
                    <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加商品类型 end -->

    <!-- 修改商品类型 start -->
    <div class="modal fade" tabindex="-1" id="myProductType">
        <!-- 窗口声明 -->
        <div class="modal-dialog modal-lg">
            <!-- 内容声明 -->
            <div class="modal-content">
                <!-- 头部、主体、脚注 -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">修改商品类型</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="row text-right">
                        <label for="proTypeNum" class="col-sm-4 control-label">编号：</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="proTypeNum" readonly>
                        </div>
                    </div>
                    <br>
                    <div class="row text-right">
                        <label for="proTypeName" class="col-sm-4 control-label">类型名称</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="proTypeName">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning updateProType" onclick="modifyName()">修改</button>
                    <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 修改商品类型 end -->
    <!-- 确认删除 start -->
    <div class="modal fade" tabindex="-1" id="deleteProductTypeModal">
        <!-- 窗口声明 -->
        <div class="modal-dialog">
            <!-- 内容声明 -->
            <div class="modal-content">
                <!-- 头部、主体、脚注 -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">提示消息</h4>
                </div>
                <div class="modal-body text-center">
                    <h4>确认要删除该商品类型吗？</h4>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="deleteProductTypeId">
                    <button class="btn btn-primary updateProType" onclick="deleteProductType()" data-dismiss="modal">删除</button>
                    <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 确认删除 end -->
</body>
</html>