<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>backend</title>
    <link rel="stylesheet"  th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet"  th:href="@{/css/index.css}" />
    <link rel="stylesheet"  th:href="@{/css/zshop.css}" />
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/userSetting.js}"></script>
    <script th:src="@{/js/bootstrap-paginator.js}"></script>
    <script th:inline="javascript">
        //分页
        $(function(){
            var role=[[${role}]];
            $('#pagination').bootstrapPaginator({
                bootstrapMajorVersion:3,
                currentPage:[[${pageInfo.pageNum}]],
                totalPages:[[${pageInfo.pages}]],
                pageUrl:function(type,page, current){
                    if(role == 'customer'){
                        return [[@{./findAllCustomer}]]+'?pageNum='+  page;
                        }
                        return [[@{./findAllBusiness}]]+'?pageNum='+  page;
                    },
                    itemTexts: function (type, page, current) {
                        switch (type) {
                            case "first":
                                return "首页";
                            case "prev":
                                return "上一页";
                            case "next":
                                return "下一页";
                            case "last":
                                return "末页";
                            case "page":
                                return page;
                        }
                    }
                });
        });
    </script>
</head>

<body>
    <div class="panel panel-default" id="userInfo">
        <div class="panel-heading">
            <h3 class="panel-title">客户管理</h3>
        </div>
        <div class="panel-body">
            <th:block th:if="${role == 'customer'}" >
                <a  th:href="@{./findAllBusiness}" class="btn btn-primary">查询店家</a>
            </th:block>
            <th:block th:if="${role == 'business'}" >
                <a  th:href="@{./findAllCustomer}" class="btn btn-primary">查询顾客</a>
            </th:block>
            <br>
            <!--<div class="showusersearch">
                <form class="form-inline" method="post">
                  <div class="form-group">
                    <label for="customer_name">姓名:</label>
                    <input type="text" class="form-control"id="customer_name" name="name" placeholder="请输入姓名" size="15px">
                  </div>
                  <div class="form-group">
                    <label for="customer_loginName">帐号:</label>
                    <input type="text" class="form-control" id="customer_loginName" name="loginName" placeholder="请输入帐号" size="15px">
                  </div>
                  <div class="form-group">
                    <label for="customer_phone">电话:</label>
                    <input type="text" class="form-control" id="customer_phone" name="phone" placeholder="请输入电话" size="15px">
                  </div>
                  <div class="form-group">
                    <label for="customer_address">地址:</label>
                    <input type="text" class="form-control" id="customer_address" name="address" placeholder="请输入地址">
                  </div>
                  <div class="form-group">
                    <label for="customer_isValid">状态:</label>
                        <select class="form-control" id="customer_isValid" name="isValid">
                            <option value="-1">全部</option>
                            <option value="1">-&#45;&#45;有效-&#45;&#45;</option>
                            <option value="0">-&#45;&#45;无效-&#45;&#45;</option>
                        </select>
                  </div>
                  <input type="button" value="查询" class="btn btn-primary" id="doSearch">
                </form>
            </div>-->
            
            <div class="show-list" style="position: relative;top: 30px;">
                <table class="table table-bordered table-hover" style='text-align: center;'>
                    <th:block th:if="${role == 'customer'}">
                        <thead>
                        <tr class="text-danger">
                            <th class="text-center">序号</th>
                            <th class="text-center">姓名</th>
                            <th class="text-center">帐号</th>
                            <th class="text-center">性别</th>
                            <th class="text-center">电话</th>
                            <th class="text-center">地址</th>
                        </thead>
                        <tbody>
                        <tr th:each="user,status:${pageInfo.list}">
                            <td th:text="${(pageInfo.pageNum - 1)*pageInfo.pageSize + status.count}"></td>
                            <td th:text="${user.realName == ''||user.realName == null ? '用户尚未填写' : user.realName}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.sex}"></td>
                            <td th:text="${user.phone}"></td>
                            <td th:text="${user.address}"></td>
                            <!--<td class="text-center">
                                <input type="button" class="btn btn-warning btn-sm doModify" value="修改">
                                <input type="button" class="btn btn-danger btn-sm doDisable" value="禁用">
                            </td>-->
                        </tr>
                        </tbody>
                    </th:block>
                    <th:block th:if="${role == 'business'}">
                        <thead>
                        <tr class="text-danger">
                            <th class="text-center">序号</th>
                            <th class="text-center">姓名</th>
                            <th class="text-center">帐号</th>
                            <th class="text-center">店铺名</th>
                            <th class="text-center">电话</th>
                            <th class="text-center">地址</th>
                        </thead>
                        <tbody >
                        <tr th:each="business,status:${pageInfo.list}">
                            <td th:text="${(pageInfo.pageNum - 1)*pageInfo.pageSize + status.count}"></td>
                            <td th:text="${business.realName == ''||business.realName == null ? '用户尚未填写' : business.realName}"></td>
                            <td th:text="${business.name}"></td>
                            <td th:text="${business.shopName}"></td>
                            <td th:text="${business.phone}"></td>
                            <td th:text="${business.address}"></td>

                            <!--<td class="text-center">
                                <input type="button" class="btn btn-warning btn-sm doModify" value="修改">
                                <input type="button" class="btn btn-danger btn-sm doDisable" value="禁用">
                            </td>-->
                        </tr>
                        </tbody>
                    </th:block>
                </table>
                <div style="text-align: center" ><ul id="pagination"></ul></div>
            </div>
        </div>
    </div>
</body>

</html>